.ask-a-question-content {
    padding-left: 2rem;
    color: #333333;

    .question-header {
        font-size: 1.25rem;
        font-weight: 400;
    }

    .optional-text {
        font-size: 1.25rem;
        font-weight: 400;
        color: #9e9e9e;
    }
}