.header-page {
    height: 7rem;
    background-color: #399e5a;

    .header-container {
        margin-left: 4rem;

        .dropdown-contianer {
            height: 7rem !important;
            .subject-dropdown {
                color: white !important;
                width: 11rem;
                font-size: 1.5rem;
            }
        }
    }
}