.subject-header-container {
    font-size: 18px;
    opacity: 0.5;

    .subject-title {
        color: #333333;
        margin-left: 0.5rem;
    }

    .sub-subject-title{
        color: #333333;
        margin-left: 0.5rem;
    }

    .subject-separator {
        color: #333333; 
        margin-left: 0.5rem;    
        font-size: 0.8rem; 
    }

    .sub-subject-title:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .subject-title:hover 
    {
        text-decoration: underline;
        cursor: pointer;
    }
}