.subject-header-container {
    .subject-title {
        color: #333333;
        font-size: 18px;
        margin-left: 0.5rem;
    }

    .sub-subject-title{
        margin-left: 0.5rem;
        font-size: 18px;
    }

    .subject-separator {
        margin-left: 0.5rem;
    }
}